{% extends 'layouts/base.html'%}

{% load static %}

{% block content %}


<div class="album mt-2 bg-light">
    <h1 class="mt-3 text-center"> Esta es la galería</h1>

    <div class="d-flex justify-content-center" >
      <form class="d-flex justify-content-center align-items-center" role="search" style="width: 500px; margin-bottom: 20px;" method="GET" action="">
        <input class="form-control me-2" type="search" placeholder="Busca tu contenido favorito" name="query" aria-label="Search" value="{{ query|default:'' }}">
        <button class="btn btn-info" type="submit">Buscar</button>
      </form>
    </div>
    

    <div class="row">
      {% for image in images %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ image.title }}</h5>
              <p class="card-text">{{ image.description }}</p>
              <p class="text-muted">Uploaded on: {{ image.uploaded_at|date:"F j, Y, g:i a" }}</p>
              <div class="d-flex justify-content-center" >
                <a href="{% url 'image_detail' image.id %}" class="btn btn-secondary" style="margin-right: 5px;"> Quiero ver más </a>
                {% if user == image.owner %}
                <form action="{% url 'delete_image' image.id %}" method="post" style="margin-right: 5px;">
                    {%csrf_token%}
                    <button type="submit" class="btn btn-danger">
                        Eliminar
                    </button>
                </form>

                <a href="{% url 'edit_image' image.id%}" class="btn btn-primary" style="margin-right: 5px;">Editar</a>
                {% endif %}
              </div>
              
            </div>
          </div>
        </div>

        {% if forloop.counter|divisibleby:3 and not forloop.last %}
          </div><div class="row"> <!-- Cierra y abre una nueva fila cada 3 imágenes -->
        {% endif %}
      {% endfor %}
    </div>
</div>

{% endblock %}