{% extends 'layouts/base.html'%}

{% load static %}

{% block content %}


<section class="hero-section py-5">
    <div class="container">
      <div class="card hero-card">
        <div class="hero-text">
          <h1>Explora el mundo de los creadores audiovisuales</h1>
          <p>Descubre proyectos inspiradores y colabora con los mejores creadores de contenido.</p>
          <a href="{% url 'about' %}" class="btn btn-primary btn-lg">Conoce más sobre nuestro proyecto</a>
        </div>
      </div>
    </div>
</section>


  <!-- Portfolio destacado -->
<section id="portfolio" class="py-1">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card text-center" style="padding: 10px; display: inline-block;">
              <h2 class="mb-0">Proyectos destacados</h2>
            </div>
        </div>
        <div class="row py-2">
        <div class="col-md-4">
            <div class="card">
            <img src="https://source.unsplash.com/400x300/?film" class="card-img-top" alt="Proyecto 1">
            <div class="card-body">
                <h5 class="card-title">Proyecto 1</h5>
                <p class="card-text">Descripción breve del proyecto 1.</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
            <img src="https://source.unsplash.com/400x300/?camera" class="card-img-top" alt="Proyecto 2">
            <div class="card-body">
                <h5 class="card-title">Proyecto 2</h5>
                <p class="card-text">Descripción breve del proyecto 2.</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
            <img src="https://source.unsplash.com/400x300/?video" class="card-img-top" alt="Proyecto 3">
            <div class="card-body">
                <h5 class="card-title">Proyecto 3</h5>
                <p class="card-text">Descripción breve del proyecto 3.</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>

{% endblock %}