{% extends 'layouts/base.html'%}

{% load static %}

{% block content %}


<section class="hero-section py-2">
    <div class="container">
      <div class="card hero-card">
        <div class="hero-text">
          <h1>Explora el mundo de los creadores audiovisuales</h1>
          <p>Descubre proyectos inspiradores y colabora con los mejores creadores de contenido.</p>
          <a href="{% url 'about' %}" class="btn btn-primary btn-lg">Conoce más sobre nuestro proyecto</a>
        </div>
      </div>
    </div>
</section>


<section id="portfolio" class="py-2">
    <div class="container">
        <div class="d-flex justify-content-center">
          <div class="card text-center" style="padding: 10px; display: inline-block;">
            <h2 class="mb-0">Nuestros proyectos más recientes </h2>
          </div>
        </div>
        <div class="row">
          {% for image in images %}
          <div class="col-md-4" style="margin-top: 10px;">
              <div class="card">
              <img src="{{ image.image.url }}" class="card-img-top" alt="Proyecto 1">
              <div class="card-body">
                  <h5 class="card-title">{{ image.title }}</h5>
                  {%if image.tags.exists%}
                    {%for tag in image.tags.all%}
                      {%if tag.is_pro%}
                        {% if user.is_authenticated%}
                        <button type="button" class="btn btn-success">
                            {{tag.name}}
                        </button>
                        {%endif%}
                      {%else%}
                        {% if not user.is_authenticated%}
                        <button type="button" class="btn btn-warning">
                          {{tag.name}}
                        </button>
                        {% endif %}
                      {%endif%}
                    {%endfor%}
                  {%endif%}
                  <div class="d-flex justify-content-center" style="margin-top: 5px;">
                    <a href="{% url 'image_detail' image.id %}" class="btn btn-secondary" style="margin-right: 5px;"> Quiero ver más </a>
                    {% if user == image.owner %}
                    <form action="{% url 'delete_image' image.id %}" method="post" style="margin-right: 5px;">
                        {%csrf_token%}
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" style="margin-right: 5px;" data-bs-target="#deleteModal{{ image.id }}">
                          Eliminar
                        </button>
                    </form>
    
                    <a href="{% url 'edit_image' image.id%}" class="btn btn-primary" style="margin-right: 5px;">Editar</a>
                    {% endif %}
                  </div>

                  <div class="modal fade" id="deleteModal{{ image.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ image.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{ image.id }}">Confirmar Eliminación</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Estás seguro de que quieres borrar la imagen?
                            </div>
                            <div class="modal-footer">
                                <!-- Botón de cancelar que cierra el modal -->
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                                <!-- Botón de eliminar que envía el formulario -->
                                <form action="{% url 'delete_image_main' image.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

              </div>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>
</section>

{% endblock %}