{% extends 'layouts/base.html'%}

{% load static %}

{% block content %}

<h1 class="text-center"> Este es tu perfil</h1>

<div class="d-flex aligns-items-center justify-content-center card mb-3 mx-auto h-100" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-4" style="height: 220px;">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ccca012b-4e57-4e0f-9508-7dcba9ab1e44/dbwme4y-e2eefb8e-c8f8-4465-b9a0-e4ab40d9fef0.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2NjY2EwMTJiLTRlNTctNGUwZi05NTA4LTdkY2JhOWFiMWU0NFwvZGJ3bWU0eS1lMmVlZmI4ZS1jOGY4LTQ0NjUtYjlhMC1lNGFiNDBkOWZlZjAuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.kgOOn8fqo7MacMvxIDRo1QFFfmuW58SKzP0NzaNFjs0" 
            class="img-fluid w-100 h-100 rounded-start">
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ user.username}}</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>


</div>

<div class="album mt-5 py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for image in images %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{image.image.url}}" class="card-img-top img-fluid w-100" alt="{{ image.title }}" style="height: 250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ image.title }}</h5>
                        <p class="card-text">{{ image.description }}</p>
                        <p class="card-text"><small class="text-body-secondary">Subido el {{ image.uploaded_at }}</small></p>
                    </div>
                    {% if user == image.owner %}
                    <div class="d-flex justify-content-center" >
                        <!-- Botón de Editar -->
                        <a href="" class="btn btn-primary" style="margin-right: 5px;">Editar</a>
                        
                        <!-- Botón de Eliminar -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ image.id }}">
                            Eliminar
                        </button>
                    </div>

                    <!-- Modal de confirmación de eliminación -->
                    <div class="modal fade" id="deleteModal{{ image.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Seguro que quieres eliminar esta foto?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <a href="" class="btn btn-danger">Sí, eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endif %}
                </div>
            </div>
            
            {% empty %}
            <p class="text-center">Aún no has subido ninguna imagen.</p>
            {% endfor %}
            
        </div>
    </div>
</div>

{% endblock %}