{% extends 'layouts/base.html'%}

{% load static %}

{% block content %}

<main class="container py-5 mb-5">


    <main class="container">
        <div class="row py-5">
            <div class="col-md-4 offset-md-4">
                
    
                <form method="post" class="card card-body">
                    <h1 class="text-center text-center"> Inicia sesión </h1>
                    {% csrf_token %}
                    {% if error %}
                        <p class="text-danger text-center">{{ error }}</p>
                    {%endif%}
                    <br/>
                    {{form.as_p}}
                    <button class="btn btn-primary mb-3"> Inicia sesión </button>
                    <a href="{% url 'sign_up' %}" class="btn btn-danger">
                        No tengo cuenta
                    </a>
                </form>
    
    
            </div>
        </div>
    </main>

    
</main>
{% endblock %}


