{% extends 'layouts/base.html'%}

{% load static %}

{% block content %}

<h1> Aquí pondremos el formulario para editar los campos de la imagen </h1>

<div class="card">
    <img src="{{image.image.url}}" class="card-img-top img-fluid w-100" alt="{{ image.title }}" style="height: 250px; object-fit: cover;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

{% endblock %}
